body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
ul{
    list-style: none;
}
ul li{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#products{
    display: flex;
    justify-content: space-around;
}
.product{
    border: 2px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
button:hover{
    background-color: red;
}
footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}